.mdl-color--primary {
    background-color: #4BAE4F !important;
}
.mdl-color--primary-dark {
    background-color: #378D3B !important;
}

.demo-list-radio {
    display: inline;
}

.text-center {
    text-align: center;
}

.mdl-list__item_disabled {
    color: #CCCCCC
}

.guide-img {
    margin-bottom: 20px;
}

.author-link {
    text-decoration: none;
    float: right;
    color: #378D3B !important;
}

.author-link:hover {
    color: #4BAE4F !important;
}

.mdl-menu__item[disabled] {
    pointer-events: none;
}